@model account.Models.Myclass
         <tr>
             <td>@Model.num</td>
             <td>@Model.category</td>
             <td>@Model.date</td>
             <td>@Model.money</td>
         </tr>

